/* heysude */
body,html,div{
    height:100%;
    width: 100%;
    margin: 0;
    display: inline-block;
}

body {
    padding-bottom: 0px;
}

h1,h2{
    margin: 0;
    padding: 0;
}

div#left1{
    /* position: absolute; */
    display: inline-block;
    float: left;
    background-color: aqua;
    width: 30%;
    text-align: center;
    height: 100%;
    margin: 0;

}
div#right1{
    display: inline-block;
    float: right;
    background-color:red;
    width: 70%;
    height: 100%;
  margin: 0;
}

form{
    position: relative;
    float:center;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 200px;
 }

form input{
    height: 25px;
    background-color: rgb(243, 243, 0);
    border-radius: 5px;
    
}
form ::-webkit-input-placeholder{
    padding-left: 10px;
}

div#welcomeText{
    position: relative;
    float:center;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 200px;
}


/* 
_                 
| |                
_ __   __ _  __ _  ___  | |___      _____  
| '_ \ / _` |/ _` |/ _ \ | __\ \ /\ / / _ \ 
| |_) | (_| | (_| |  __/ | |_ \ V  V / (_) |
| .__/ \__,_|\__, |\___|  \__| \_/\_/ \___/ 
| |           __/ |                         
|_|          |___/                          

 */

div#left2{
    /* position: absolute; */
    display: inline-block;
    float: left;
    background-color: aqua;
    width: 30%;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* padding: 20px; */

}
div#right2{
    display: inline-block;
    float: right;
    background-color:red;
    width: 70%;
    height: 100%;
  margin: 0;
  padding: 0;

}

div#messageName{
    position: relative;
    float:center;
    display: inline-block;
    top: 50%;
    width: 100%;
        transform: translateY(-50%);
    background-color: #fff;
    height: 200px;
    /* margin: 10px; */
}
div#messageDiv{
    position: relative;
    float:center;
    display: inline-block;
    top: 50%;
   transform: translateY(-50%);
    background-color: #fff;
    height: auto;
     
}

canvas#myChart{
    max-width: 500px;
    
}