/* heysude */
body,html,div{
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

body {
    padding-bottom: 0px;
}

h1{
    margin: 0;
    padding: 0;
}

div#left1{
    /* position: absolute; */
    display: inline-block;
    float: left;
    background-color: aqua;
    width: 30%;
    text-align: center;
    height: 100%;
    margin: 0;

}
div#right1{
    display: inline-block;
    float: right;
    background-color:red;
    width: 70%;
    height: 100%;
  margin: 0;
}

/* div#loginBox{
    position: relative;
    background-color: blueviolet;
    margin: 20px;
}

form{
    float:center;
    display: inline-block;
    margin: 50% 0;
    transform: translateY(50%);
    background-color: #fff;
    
   } */
/*    div#loginBox{
   
    position: relative;;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    max-height: 300px;
    
} */

form{
    position: relative;
    float:center;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 200px;
 }

form input{
    height: 25px;
    background-color: rgb(243, 243, 0);
    border-radius: 5px;
    
}
form ::-webkit-input-placeholder{
    padding-left: 10px;
}

div#welcomeText{
    position: relative;
    float:center;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    height: 200px;
}